html {
    box-sizing: border-box;
    min-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    font-weight: 600;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    text-align: center;
    text-justify: initial;
    font-size: 18px;
    padding: 50px 0 30px 0;
}

@font-face {
    font-family: "Fontify";
    src: url('fonts/Fontify-Regular.ttf')  format("truetype");
}

h1 {
    margin: 20px 0 40px 0;
    font-size: 100px;
}

.fontify {
    font-family: 'Fontify', sans-serif;
    font-style: italic;
    letter-spacing: -0.15em;
    word-spacing: 0.30em;
}

.font_name {
    margin-top: 80px;
}

.font_name input {
    width: 80%;
    height: 80px;
    font-size: 24px;
    padding: 0 40px;
    text-align: center;
}

@media (min-width: 480px) {
    .font_name input {
        width: 50%;
        font-size: 32px;
    }
}

.upload {
    margin-top: 60px;
}

.upload .dropzone {
    width: 85%;
    margin: auto;
}

@media (min-width: 480px) {
    .upload .dropzone {
        width: 50%;
    }
    body {
        max-width: 90%;
    }
}

.upload .dz-message {
    font-size: 32px;
    margin: 20px 0 !important;
}
.upload .dz-progress {
    top: 80% !important;
}

.use-font {
    margin-top: 48px;
}

p {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
}

pre, textarea {
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 16px 24px;
}
pre {
    overflow-x: scroll;
}

footer {
    margin-top: 50px;
}
footer p {
    text-align: right !important;
    margin-right: 25%;
}

@media only screen and (max-device-width: 480px) {
    body {
        padding: 10px 0 20px 0;
    }
    h1 {
        font-size: 72px;
    }
    p.subtitle {
        font-size: 28px;
    }
    pre, textarea {
        max-width: 100%;
    }
}

/* Pulsing heart animation */
.love {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    color: #f95959;;
    -webkit-transform: scale(.9);
       -moz-transform: scale(.9);
            transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
       -moz-animation: love .5s infinite linear alternate-reverse;
            animation: love .5s infinite linear alternate-reverse;
}
@-webkit-keyframes love {
    to { -webkit-transform: scale(1.1); }
}
@-moz-keyframes love {
    to { -moz-transform: scale(1.1); }
}
@keyframes love {
    to { transform: scale(1.1); }
}