@import url(fira_code.css);

body {
	font-family: "Fira Code", "SF UI Text", sans-serif;
	display: inline-block;
	position: relative;
	font-size: 150%;
	padding: 30px;
}

/* From https://stackoverflow.com/a/21574057/ */
* {
	overflow: visible !important;
}

h1 {
	text-align: center;
	margin-bottom: 35px;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	border: 1px solid black;
}

/* https://stackoverflow.com/a/36151873/ */
table, thead, td, th {
	page-break-inside: avoid !important;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

.char-cell {
	height: 90px;
	width: 90px;
	position: relative;
}

.ref-line-top, .ref-line-bottom {
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.ref-line-top {
	top: 30px;
}

.ref-line-bottom {
	top: 60px;
}

.empty {
	height: 30px;
}

.sample-char {
	color: #ddd;
	font-family: Georgia;
	font-style: italic;
	text-align: center;
	font-size: 65px;
	line-height: 80px;
}

.anchor {
	content: "";
	background-color: black;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	z-index: 1;
}

.upper {
	top: 9px;
	left: 0px;
}

.lower {
	bottom: -20px;
	right: -20px;
}
