html {
    box-sizing: border-box;
    min-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    font-weight: 600;
}

body {
    text-align: center;
    font-size: 18px;
    padding: 50px 0 30px 0;
}

h1 {
    margin: 20px 0 40px 0;
    font-size: 100px;
}

h1.index {
    text-transform: lowercase;
}

h2 {
    text-align: left;
}

/* button {
    cursor: pointer;
    width: 320px;
    height: 80px;
    font-size: 32px;
} */

.font-name {
    margin-top: 80px;
}

.font-name input {
    width: 320px;
    height: 80px;
    font-size: 32px;
    padding: 0 40px;
    text-align: center;
}

.upload {
    margin-top: 60px;
}

.upload .dropzone {
    width: 50%;
    margin: auto;
    /* border: 0; */
}

.upload .dz-message {
    font-size: 32px;
    margin: 20px 0 !important;
}
.upload .dz-progress {
    top: 80% !important;
}

.use-font {
    margin-top: 48px;
}

pre, textarea {
    text-align: left;
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding: 16px 24px;
}
pre {
    overflow-x: scroll;
}

footer {
    margin-top: 40px;
}
footer p {
    text-align: right;
    margin: 6px 0;
}

@media only screen and (max-device-width: 480px) {
    body {
        padding: 10px 0 20px 0;
    }
    h1 {
        font-size: 72px;
    }
    p.subtitle {
        font-size: 28px;
    }
    pre, textarea {
        max-width: 100%;
    }
}
