{% extends "base.html" %}
{% block title %}Fontify - Your font is ready to use!{% endblock %}

{% block body %}
<h2 id="ready-to-use">Your font is ready to use!</h2>
    <a href="/download/{{ key }}/{{font_name}}-{{font_variant}}.ttf"><button class="btn btn-success">Download <code>.ttf</code> file</button></a>
    <br>
    <a href="/download/{{ key }}/{{font_name}}-{{font_variant}}.woff"><button class="btn btn-secondary">Download <code>.woff</code> file</button></a>
    <a href="/download/{{ key }}/{{font_name}}-{{font_variant}}.otf"><button class="btn btn-secondary">Download <code>.otf</code> file</button></a>

<style type="text/css">
@font-face {
    font-family: {{ font_name }};
    src:
        url(/download/{{ key }}/{{font_name}}-{{font_variant}}.woff) format("woff"),
        url(/download/{{ key }}/{{font_name}}-{{font_variant}}.ttf)  format("truetype"),
        url(/download/{{ key }}/{{font_name}}-{{font_variant}}.otf)  format("opentype");
}
textarea {
    font-family: {{ font_name }}, sans-serif;
    font-size: 2em;
    height: 130px;
    width: 90%;
    letter-spacing: -0.14em;
    word-spacing: -0.0em;
}
</style>

<br><hr><br>
<div class="playground">
    <h2>Playground</h2>
    <p>See your own font in action!</p>
    <p>English:</p>
    <textarea placeholder="The quick brown fox jumps over the lazy dog. 0123456789. ; : ! ? / & ~ # ' { ( [ - | _ \\ @ ) ] } = +"></textarea>
    <br><p>French :</p>
    <textarea placeholder="Dès noël où un zéphyr haï me vêt de glaçons würmiens je dîne d’exquis rôtis de bœuf au kir à l’aÿ d’âge mûr &amp; cætera !"></textarea>
    <br><p>Accents :</p>
    <textarea placeholder="à á â ä ç è é ê ë î í ï ñ ò ó ô ö ŷ ÿ ù ú ü û and  À Á Â Ä Ç È É Ê Ë Î Í Ï Ñ Ò Ó Ô Ö Ŷ Ÿ Ù Ú Ü Û."></textarea>
    <br><p>(Experimental) ligatures</p>
    <textarea placeholder="ae æ, oe œ, fs ß, AE Æ, OE Œ, ff ﬀ, fi ﬁ, fl ﬂ, ffi ﬃ, ffl ﬄ, ft ﬅ, st ﬆ etc…"></textarea>
    <br><p>Greek</p>
    <textarea placeholder="α β γ δ ε ζ η θ ι κ λ μ ν ξ ο π ρ ς σ τ υ φ χ ψ ω and Α Β Γ Δ Ε Ζ Η Θ Ι Κ Λ Μ Ν Ξ Ο Π Ρ Σ Τ Υ Φ Χ Ψ Ω."></textarea>
    <br><p>(Experimental) Maths</p>
    <textarea placeholder="ℕ ℝ ℂ ℙ ℤ ℚ and ∀ ∂ ∃ ∅ ∇ and ∩ ∪ ∫ and ≠ ≤ ≥ ⊂ ⊃ "></textarea>
</div>

<div class="use-font">
    <h2>Use as webfont</h2>
    <p>Add the following lines to your CSS:</p>
    <pre>@font-face {
    font-family: {{ font_name }};
    src: url({{font_name}}-{{font_variant}}.ttf) format('truetype'),
         url({{font_name}}-{{font_variant}}.woff) format('woff'),
         url({{font_name}}-{{font_variant}}.otf) format('opentype');
}

/* Then use {{ font_name }} like this: */
p {
    font-family: {{ font_name }}, sans-serif;
}</pre>
</div>

<div class=use-font">
    <h2>Use as font in XeLaTeX</h2>
    Use this template, and compile with <code>xelatex</code> in the good folder.
    See <a href="test.pdf" target="_blank">this example file</a> (from <a href="test.tex" target="_blank">this .tex source</a>).
    <pre>\documentclass[a4paper,12pt]{article}
\usepackage{fontspec}
\fontspec [Path = static/css/fonts/,
    UprightFont = *-Regular,
    % ItalicFont = *-Italic   % only if you also did an Italic font
    % or other variants...
]{fontify}

\begin{document}

Hello world!

\end{document}
</pre>
</div>

{% endblock %}
