{% extends "base.html" %}
{% block title %}Fontify - Make your own font!{% endblock %}
{% block body %}
<h2>Make your own font!</h2>
<p>
    Three steps:
</p>
<ol>
    <li>
        Print the template,
    </li>
    <li>
        Fill it and scan it,
    </li>
    <li>
        Generate the font and test it, you're done!
    </li>
</ol>
<hr>

<a href="/template" target="_blank">
    <button class="btn btn-primary">
        Print the PDF template
    </button>
</a>
<p>
    1. Fill <a title="Mainly for debugging" href="/template_html" target="_blank">the template</a>, scan it as a single multi-page PDF, and upload it.

    <em>Advice:</em> use a black and not too thin pen. Don't use pencil or feather pen, and don't use light ink (Fontify supports colored input, but the font will turn out black-white only).
</p>

<a href="/template_ligatures" target="_blank">
    <button class="btn btn-primary">
        Print the PDF template for ligatures?
        (still experimental, don't try it)
    </button>
</a>
<p>
    1.b. (optional) Fill <a title="Mainly for debugging" href="/template_ligatures_html" target="_blank">the template</a>, scan it, and upload.
</p>

<div class="font-name">
    <input id="font-name-input" class="form-control" placeholder="Enter a name" style="margin-left: auto; margin-right: auto;"></input>
    <script type="text/javascript">
        $(function() {
            $("#font-name-input").on("change keyup paste click", function(e) {
                if (/^[a-zA-Z0-9]+$/i.test(e.target.value) === false) {
                    $("#font-name-validation").text("Please enter alphanumeric characters!");
                    $("#font-name-validation").removeClass("valid-feedback");
                    $("#font-name-validation").addClass("invalid-feedback");
                    $("#font-name-input").removeClass("is-valid");
                    $("#font-name-input").addClass("is-invalid");
                    $("#submit-all").attr("disabled", true);
                } else {
                    $("#font-name-validation").text("Your awesome font name: " + e.target.value);
                    $("#font-name-validation").removeClass("invalid-feedback");
                    $("#font-name-validation").addClass("valid-feedback");
                    $("#font-name-input").removeClass("is-invalid");
                    $("#font-name-input").addClass("is-valid");
                    $("#submit-all").attr("disabled", false);
                }
                $("#font-name").val(e.target.value);
            });
        });
    </script>
    <div id="font-name-validation">
        Your awesome font name.
    </div>
</div>

<div class="upload">
    <p id="upload-file-validation">
        2. Upload the scanned template (as a JPG, PNG or PDF).
        Prefer PDF as multi-pages are supported!
    </p>
    <form action="/upload-file" class="dropzone" id="uploadDropzone">
        <input type="hidden" id="font-name" name="font-name"></input>
    </form>
    <br>
    <p><button id="submit-all" class="btn btn-primary">
        3. Submit, and wait a few seconds.
    </button></p>
</div>
{% endblock %}